/**
 * Container styles
 * -----------------------------------------------------------------------------
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .container {
    max-width: none;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 2400px) {
  .container {
    max-width: 2320px;
  }
}

@media (min-width: 4800px) {
  .container {
    max-width: 4640px;
  }
}

/**
 * Row styles
 * -----------------------------------------------------------------------------
 */
.row, .page.front-page .custom-home-about-section .about-section-wrapper,
.blog.front-page .custom-home-about-section .about-section-wrapper, .page.front-page .custom-home-featured-area .featured-area-wrapper,
.blog.front-page .custom-home-featured-area .featured-area-wrapper, .page.front-page .custom-home-testimonial-section .testimonial-content,
.blog.front-page .custom-home-testimonial-section .testimonial-content, .page.front-page .custom-home-contact-section .contact-content,
.blog.front-page .custom-home-contact-section .contact-content, .page.front-page .team-main-div,
.page.front-page .feature-main-div,
.blog.front-page .team-main-div,
.blog.front-page .feature-main-div, .page.front-page aside.home-widgets .home-widget-wrapper,
.blog.front-page aside.home-widgets .home-widget-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/**
 * Column styles
 * -----------------------------------------------------------------------------
 */
@media (min-width: 0) {
  .col-xs-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-12, .page.front-page .custom-home-about-section, .page.front-page .custom-home-feature-section, .page.front-page .custom-home-team-section, .page.front-page .custom-home-testimonial-section, .page.front-page .custom-home-contact-section, .page.front-page .custom-home-widget-section, .page.front-page .custom-home-featured-area,
  .blog.front-page .custom-home-about-section,
  .blog.front-page .custom-home-feature-section,
  .blog.front-page .custom-home-team-section,
  .blog.front-page .custom-home-testimonial-section,
  .blog.front-page .custom-home-contact-section,
  .blog.front-page .custom-home-widget-section,
  .blog.front-page .custom-home-featured-area, .page.front-page .custom-home-about-section .about-section-wrapper .about-content,
  .blog.front-page .custom-home-about-section .about-section-wrapper .about-content, .page.front-page .custom-home-about-section .about-section-wrapper .about-cta,
  .blog.front-page .custom-home-about-section .about-section-wrapper .about-cta, .page.front-page .custom-home-featured-area .featured-area-wrapper .featured-content,
  .page.front-page .custom-home-featured-area .featured-area-wrapper .featured-image,
  .blog.front-page .custom-home-featured-area .featured-area-wrapper .featured-content,
  .blog.front-page .custom-home-featured-area .featured-area-wrapper .featured-image, .page.front-page .custom-home-testimonial-section .testimonial-content .testimonial-img,
  .blog.front-page .custom-home-testimonial-section .testimonial-content .testimonial-img, .page.front-page .custom-home-testimonial-section .testimonial-content .testimonial_main_text,
  .blog.front-page .custom-home-testimonial-section .testimonial-content .testimonial_main_text, .page.front-page .custom-home-contact-section .contact-content .contact_left,
  .blog.front-page .custom-home-contact-section .contact-content .contact_left, .page.front-page .section-team,
  .page.front-page .section-feature,
  .blog.front-page .section-team,
  .blog.front-page .section-feature, .page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1,
  .page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2,
  .page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3,
  .blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1,
  .blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2,
  .blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-4, .page.front-page .custom-home-testimonial-section .testimonial-content .testimonial-img,
  .blog.front-page .custom-home-testimonial-section .testimonial-content .testimonial-img, .page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1,
  .page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2,
  .page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3,
  .blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1,
  .blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2,
  .blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-6, .page.front-page .custom-home-about-section .about-section-wrapper .about-content,
  .blog.front-page .custom-home-about-section .about-section-wrapper .about-content, .page.front-page .custom-home-about-section .about-section-wrapper .about-cta,
  .blog.front-page .custom-home-about-section .about-section-wrapper .about-cta {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-8, .page.front-page .custom-home-testimonial-section .testimonial-content .testimonial_main_text,
  .blog.front-page .custom-home-testimonial-section .testimonial-content .testimonial_main_text {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-md-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-4, .page.front-page .custom-home-about-section .about-section-wrapper .about-cta,
  .blog.front-page .custom-home-about-section .about-section-wrapper .about-cta {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-6, .page.front-page .custom-home-featured-area .featured-area-wrapper .featured-content,
  .page.front-page .custom-home-featured-area .featured-area-wrapper .featured-image,
  .blog.front-page .custom-home-featured-area .featured-area-wrapper .featured-content,
  .blog.front-page .custom-home-featured-area .featured-area-wrapper .featured-image, .page.front-page .custom-home-contact-section .contact-content .contact_left,
  .blog.front-page .custom-home-contact-section .contact-content .contact_left {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-8, .page.front-page .custom-home-about-section .about-section-wrapper .about-content,
  .blog.front-page .custom-home-about-section .about-section-wrapper .about-content {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xl-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 2400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 4800px) {
  .col-xxxl-1 {
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-2 {
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-4 {
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-5 {
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-7 {
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-8 {
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-10 {
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-11 {
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxxl-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/**
 * Hide/show styles
 * -----------------------------------------------------------------------------
 */
@media (min-width: 0) {
  .hide-xs {
    display: none;
  }
}

@media (min-width: 0) {
  .show-xs {
    display: block;
  }
}

@media (min-width: 576px) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: 576px) {
  .show-sm {
    display: block;
  }
}

@media (min-width: 768px) {
  .hide-md {
    display: none;
  }
}

@media (min-width: 768px) {
  .show-md {
    display: block;
  }
}

@media (min-width: 992px) {
  .hide-lg {
    display: none;
  }
}

@media (min-width: 992px) {
  .show-lg {
    display: block;
  }
}

@media (min-width: 1200px) {
  .hide-xl {
    display: none;
  }
}

@media (min-width: 1200px) {
  .show-xl {
    display: block;
  }
}

@media (min-width: 2400px) {
  .hide-xxl {
    display: none;
  }
}

@media (min-width: 2400px) {
  .show-xxl {
    display: block;
  }
}

@media (min-width: 4800px) {
  .hide-xxxl {
    display: none;
  }
}

@media (min-width: 4800px) {
  .show-xxxl {
    display: block;
  }
}

/**
 * Custom Home Page support styles
 * -----------------------------------------------------------------------------
 */
.page.front-page .custom-home-about-section, .page.front-page .custom-home-feature-section, .page.front-page .custom-home-team-section, .page.front-page .custom-home-testimonial-section, .page.front-page .custom-home-contact-section, .page.front-page .custom-home-widget-section, .page.front-page .custom-home-featured-area,
.blog.front-page .custom-home-about-section,
.blog.front-page .custom-home-feature-section,
.blog.front-page .custom-home-team-section,
.blog.front-page .custom-home-testimonial-section,
.blog.front-page .custom-home-contact-section,
.blog.front-page .custom-home-widget-section,
.blog.front-page .custom-home-featured-area {
  margin-top: 28px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  padding: 28px;
}

.page.front-page .custom-home-about-section:first-child, .page.front-page .custom-home-feature-section:first-child, .page.front-page .custom-home-team-section:first-child, .page.front-page .custom-home-testimonial-section:first-child, .page.front-page .custom-home-contact-section:first-child, .page.front-page .custom-home-widget-section:first-child, .page.front-page .custom-home-featured-area:first-child,
.blog.front-page .custom-home-about-section:first-child,
.blog.front-page .custom-home-feature-section:first-child,
.blog.front-page .custom-home-team-section:first-child,
.blog.front-page .custom-home-testimonial-section:first-child,
.blog.front-page .custom-home-contact-section:first-child,
.blog.front-page .custom-home-widget-section:first-child,
.blog.front-page .custom-home-featured-area:first-child {
  margin-top: 0;
}

.page.front-page .custom-home-about-section:last-child, .page.front-page .custom-home-feature-section:last-child, .page.front-page .custom-home-team-section:last-child, .page.front-page .custom-home-testimonial-section:last-child, .page.front-page .custom-home-contact-section:last-child, .page.front-page .custom-home-widget-section:last-child, .page.front-page .custom-home-featured-area:last-child,
.blog.front-page .custom-home-about-section:last-child,
.blog.front-page .custom-home-feature-section:last-child,
.blog.front-page .custom-home-team-section:last-child,
.blog.front-page .custom-home-testimonial-section:last-child,
.blog.front-page .custom-home-contact-section:last-child,
.blog.front-page .custom-home-widget-section:last-child,
.blog.front-page .custom-home-featured-area:last-child {
  margin-bottom: 0;
}

.page.front-page .custom-home-about-section .about-section-wrapper,
.blog.front-page .custom-home-about-section .about-section-wrapper {
  align-items: center;
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  .page.front-page .custom-home-about-section .about-section-wrapper .about-cta,
  .blog.front-page .custom-home-about-section .about-section-wrapper .about-cta {
    margin-top: 28px;
  }
}

.page.front-page .custom-home-featured-area .featured-area-wrapper,
.blog.front-page .custom-home-featured-area .featured-area-wrapper {
  align-items: center;
  width: 100%;
  margin: 0;
}

.page.front-page .custom-home-featured-area .featured-area-wrapper .featured-content,
.page.front-page .custom-home-featured-area .featured-area-wrapper .featured-image,
.blog.front-page .custom-home-featured-area .featured-area-wrapper .featured-content,
.blog.front-page .custom-home-featured-area .featured-area-wrapper .featured-image {
  text-align: center;
}

.page.front-page .custom-home-featured-area .featured-area-wrapper .featured-content > p,
.page.front-page .custom-home-featured-area .featured-area-wrapper .featured-image > p,
.blog.front-page .custom-home-featured-area .featured-area-wrapper .featured-content > p,
.blog.front-page .custom-home-featured-area .featured-area-wrapper .featured-image > p {
  margin-top: 0;
}

@media (max-width: 992px) {
  .page.front-page .custom-home-featured-area .featured-area-wrapper .featured-image,
  .blog.front-page .custom-home-featured-area .featured-area-wrapper .featured-image {
    margin-top: 28px;
  }
}

.page.front-page .custom-home-testimonial-section, .page.front-page .custom-home-team-section, .page.front-page .custom-home-contact-section, .page.front-page .custom-home-feature-section,
.blog.front-page .custom-home-testimonial-section,
.blog.front-page .custom-home-team-section,
.blog.front-page .custom-home-contact-section,
.blog.front-page .custom-home-feature-section {
  flex-direction: column;
}

.page.front-page .custom-home-testimonial-section .testimonial-content,
.blog.front-page .custom-home-testimonial-section .testimonial-content {
  text-align: right;
}

@media (max-width: 768px) {
  .page.front-page .custom-home-testimonial-section .testimonial-content,
  .blog.front-page .custom-home-testimonial-section .testimonial-content {
    text-align: center;
  }
}

.page.front-page .custom-home-testimonial-section .testimonial-content .fa-quote-left,
.blog.front-page .custom-home-testimonial-section .testimonial-content .fa-quote-left {
  font-size: 33px;
}

@media (max-width: 768px) {
  .page.front-page .custom-home-testimonial-section .testimonial-content .testimonial_main_text,
  .blog.front-page .custom-home-testimonial-section .testimonial-content .testimonial_main_text {
    margin-top: 28px;
  }
}

.page.front-page .custom-home-team-section .section-team > div,
.blog.front-page .custom-home-team-section .section-team > div {
  margin-top: 28px;
  margin-bottom: 28px;
}

.page.front-page .custom-home-team-section .section-team > div:first-child,
.blog.front-page .custom-home-team-section .section-team > div:first-child {
  margin-top: 0;
}

.page.front-page .custom-home-team-section .section-team > div:last-child,
.blog.front-page .custom-home-team-section .section-team > div:last-child {
  margin-bottom: 0;
}

.page.front-page .custom-home-contact-section .contact-content,
.blog.front-page .custom-home-contact-section .contact-content {
  align-items: center;
  width: 100%;
  text-align: right;
}

.page.front-page .custom-home-contact-section .contact-content .contact_left > div,
.blog.front-page .custom-home-contact-section .contact-content .contact_left > div {
  margin-top: 28px;
  margin-bottom: 28px;
}

.page.front-page .custom-home-contact-section .contact-content .contact_left > div:first-child,
.blog.front-page .custom-home-contact-section .contact-content .contact_left > div:first-child {
  margin-top: 0;
}

.page.front-page .custom-home-contact-section .contact-content .contact_left > div:last-child,
.blog.front-page .custom-home-contact-section .contact-content .contact_left > div:last-child {
  margin-bottom: 0;
}

.page.front-page .custom-home-contact-section .contact-content .contact_left .fa,
.blog.front-page .custom-home-contact-section .contact-content .contact_left .fa {
  margin-left: 7px;
}

@media (max-width: 768px) {
  .page.front-page .custom-home-contact-section .contact-content .contact_right,
  .blog.front-page .custom-home-contact-section .contact-content .contact_right {
    margin-top: 28px;
  }
}

.page.front-page .contact-content,
.page.front-page .testimonial-content,
.page.front-page .feature-main-div,
.page.front-page .team-main-div,
.blog.front-page .contact-content,
.blog.front-page .testimonial-content,
.blog.front-page .feature-main-div,
.blog.front-page .team-main-div {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.page.front-page .testimonial_img img,
.page.front-page .feature_img img,
.page.front-page .team_img img,
.blog.front-page .testimonial_img img,
.blog.front-page .feature_img img,
.blog.front-page .team_img img {
  width: 200px;
  height: 200px;
  border: 6px solid rgba(170, 170, 170, 0.2);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .page.front-page .section-team,
  .page.front-page .section-feature,
  .blog.front-page .section-team,
  .blog.front-page .section-feature {
    margin-top: 28px;
  }
}

.page.front-page aside.home-widgets,
.blog.front-page aside.home-widgets {
  align-items: normal;
  width: 100%;
  padding: 0;
  background-color: transparent;
}

.page.front-page aside.home-widgets .home-widget-wrapper,
.blog.front-page aside.home-widgets .home-widget-wrapper {
  width: -webkit-fill-available;
  width: -moz-available;
  max-width: -moz-available;
}

.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 {
  text-align: center;
}

@media (max-width: 768px) {
  .page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1,
  .page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2,
  .page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3,
  .blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1,
  .blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2,
  .blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 {
    margin-top: 28px;
  }
}

.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .widget-wrapper,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .widget-wrapper,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .widget-wrapper,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .widget-wrapper,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .widget-wrapper,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .widget-wrapper {
  margin-top: 0;
}

.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .textwidget,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .widget-title-home,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .textwidget,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .widget-title-home,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .textwidget,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .widget-title-home,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .textwidget,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .widget-title-home,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .textwidget,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .widget-title-home,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .textwidget,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .widget-title-home {
  margin-top: 28px;
  margin-bottom: 28px;
}

.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .textwidget:first-child,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .widget-title-home:first-child,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .textwidget:first-child,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .widget-title-home:first-child,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .textwidget:first-child,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .widget-title-home:first-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .textwidget:first-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .widget-title-home:first-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .textwidget:first-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .widget-title-home:first-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .textwidget:first-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .widget-title-home:first-child {
  margin-top: 0;
}

.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .textwidget:last-child,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .widget-title-home:last-child,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .textwidget:last-child,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .widget-title-home:last-child,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .textwidget:last-child,
.page.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .widget-title-home:last-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .textwidget:last-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 .widget-title-home:last-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .textwidget:last-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-2 .widget-title-home:last-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .textwidget:last-child,
.blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-3 .widget-title-home:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .page.front-page aside.home-widgets .home-widget-wrapper .home-widget-1,
  .blog.front-page aside.home-widgets .home-widget-wrapper .home-widget-1 {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .feature-main-div {
    flex-wrap: nowrap !important;
  }
}

.responsive-site-style-content-boxed .custom-home-about-section,
.responsive-site-style-boxed .custom-home-about-section, .responsive-site-style-content-boxed .custom-home-feature-section,
.responsive-site-style-boxed .custom-home-feature-section, .responsive-site-style-content-boxed .custom-home-team-section,
.responsive-site-style-boxed .custom-home-team-section, .responsive-site-style-content-boxed .custom-home-testimonial-section,
.responsive-site-style-boxed .custom-home-testimonial-section, .responsive-site-style-content-boxed .custom-home-contact-section,
.responsive-site-style-boxed .custom-home-contact-section, .responsive-site-style-content-boxed .custom-home-widget-section,
.responsive-site-style-boxed .custom-home-widget-section, .responsive-site-style-content-boxed .custom-home-featured-area,
.responsive-site-style-boxed .custom-home-featured-area {
  background-color: #ffffff;
}

.page.front-page.responsive-site-style-content-boxed .custom-home-about-section,
.blog.front-page.responsive-site-style-content-boxed .custom-home-about-section, .page.front-page.responsive-site-style-content-boxed .custom-home-feature-section,
.blog.front-page.responsive-site-style-content-boxed .custom-home-feature-section, .page.front-page.responsive-site-style-content-boxed .custom-home-team-section,
.blog.front-page.responsive-site-style-content-boxed .custom-home-team-section, .page.front-page.responsive-site-style-content-boxed .custom-home-testimonial-section,
.blog.front-page.responsive-site-style-content-boxed .custom-home-testimonial-section, .page.front-page.responsive-site-style-content-boxed .custom-home-contact-section,
.blog.front-page.responsive-site-style-content-boxed .custom-home-contact-section, .page.front-page.responsive-site-style-content-boxed .custom-home-widget-section,
.blog.front-page.responsive-site-style-content-boxed .custom-home-widget-section, .page.front-page.responsive-site-style-content-boxed .custom-home-featured-area,
.blog.front-page.responsive-site-style-content-boxed .custom-home-featured-area {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.page.front-page.responsive-site-style-content-boxed .custom-home-widget-section.home-widgets,
.blog.front-page.responsive-site-style-content-boxed .custom-home-widget-section.home-widgets {
  padding: 28px;
  background-color: #ffffff;
}
